body {
    font-family: 'Courier New', monospace;
    color: #ffffff;
    background-color: #151515;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #373737;
    padding: 20px;
    border-radius: 20px;
}
h1 {
    text-align: center;
    font-size: 55px;
}
input[type="text"] {
    flex: 1;
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #474747;
    border: 1px solid #ccc;
    color: #ffffff;
}
input[type="text"]::placeholder {
    color: #a9a8a8;
    font-style: italic;
}
img {
    margin-top: 3px;
    width: 35px;
    height: 35px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
button {
    display: flex;
    border-radius: 20px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.add-btn {
    background-color: #007510;
}
.add-btn:hover {
    background-color: #005c0c;
}
.update-btn {
    background-color: #2c529e;
}
.update-btn:hover {
    background-color: #213d76;
}
.delete-btn {
    background-color: #bb0026;
}
.delete-btn:hover {
    background-color: #83001a;
}
ul {
    padding: 0;
    align-items: center;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
li span {
    margin-left: 10px;
    flex: 1;
}
.done {
    text-decoration: line-through;
    color: gray;
}
.loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.spinner {
    border: 8px solid #f3f3f369;
    border-top: 8px solid #3498db5b; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 20px auto;
    }
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 10px;
        margin: 10px auto;
    }
    h1 {
        font-size: 30px;
    }
    input[type="text"] {
        font-size: 12px;
    }
    button img {
        width: 25px;
        height: 25px;
    }
    ul {
        padding: 0;
    }
    li span {
        margin-top: 5px;
    }
}