body {
    font-family: 'Courier New', monospace;
    color: #ffffff;
    background-color: #151515;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #373737;
    padding: 20px;
    border-radius: 20px;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"] {
    flex: 1;
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #474747;
    border: 1px solid #ccc;
    color: #ffffff;
}
input[type="text"]::placeholder {
    color: #a9a8a8;
    font-style: italic;
}
h1 {
    text-align: center;
    font-size: 55px;
}
button {
    border-radius: 20px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
}
img {
    margin-top: 3px;
    width: 35px;
    height: 35px;
}
.add-btn {
    background-color: #007510;
}
.add-btn:hover {
    background-color: #005c0c;
}
.update-btn {
    background-color: #2c529e;
}
.update-btn:hover {
    background-color: #213d76;
}
ul {
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}
li span {
    margin-left: 10px;
    flex: 1;
}
.done {
    text-decoration: line-through;
    color: gray;
}