<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>My To-Do List</h1>
        <ul id ="task-list">
            <!-- Tasks will be dynamically added on here with JS -->
        </ul>
        <form id="task-form">
            <input type="text" id="task-input" name="task" placeholder="Enter a task" required>
            <button type="submit" class="add-btn"><img src="{{ url_for('static', filename='images/check_add.png') }}" alt="Add Task" class="add_btn-img"></button>
        </form>
    </div>
    <div id="loading-spinner" class="loading-spinner">
        <div class="spinner"></div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js"></script>
</body>
</html>